$lineheight: 22px;

.clearfix {
	display: inline-block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.box {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 1);
  padding: $lineheight;
  border-radius: $lineheight;
  box-sizing: border-box;
}

html {
  background: url('../images/pitch.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

@import 'groups';
@import 'matches';
@import 'leaderboard';
