.clearfix {
	display: inline-block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

html {
  background: url('../images/pitch.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.groups {
  @extend .clearfix;
  width: 50%;
  font-family: "Courier New", Courier, monospace;

  $groupHeight: 22px;

  .group {
    width: 24%;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 1% 10px 0;
    float: left;
    padding: $groupHeight;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: $groupHeight;
    box-sizing: border-box;

    .group-name {
      width: 100%;
      text-align: center;
      margin: 0 0 $groupHeight 0;
    }
  }

  .team-glob {
    @extend .clearfix;
    width: 100%;
    display: block;
   }

  .flag { display: none; }

  .nation {
    max-width: 80%;
    font-size: 14px;
    line-height: $groupHeight;
    margin: 0 0 5px 0;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .avatar {
    width: $groupHeight;
    height: $groupHeight;
    display: inline-block;
    float: right;
  }
}


.matches {
  .team-glob {
    width: 500px;
    height: 50px;
    /*background-color: rgba(192, 224, 255, 1);*/
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    position: relative;
    overflow: hidden;

    .flag {
      height: auto;
      width: 200px;
      top: -25px;
      right: -25px;
      position: absolute;
      opacity: 0.2;
      z-index: 1;
    }

    h3 {
      line-height: 50px;
      margin: 0;
      z-index: 2;
    }

    .avatar {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 1);
      border-radius: 100%;
      top: 10px;
      right: 10px;
      position: absolute;
      z-index: 2;
    }
   }
 }
